<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informações - Usuario</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>

    <script src="//maxcdn.bootstrapcdn.com/js/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sistema de Comanda</a>
        </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'lista_mesta' %}">Lançar Pedido</a></li>
                    <li><a href="{% url 'lista_produto' %}">Produtos</a></li>
                    <li><a href="{% url 'lista_usuario' %}">Clientes</a></li>
                    <li><a href="#">Logof</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div id="main" class="container-fluid">

        <h1 class="page-header">Criar / Alterar Usuario</h1>

        <form method="POST">

            <hr />
            <div id="actions" class="row">
                <div class="col-md-12">

                    {% csrf_token %}
                    {{ form }}

                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{% url 'lista_usuario' %}" class="btn btn-default">Cancelar</a>
                    {% if prod %}
                        <a href="{% url 'deleta_usuario' prod.id" class="btn btn-default">Deletar</a>
                    {% endif %}
                </div>

            </div>
        </form>
    </div>
</body>
</html>